<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game</title>
</head>
<body>
    <!-- logo -->
    <div class="logo">
        <img src="/images/logo 1.png">
    </div>
    <!-- end logo -->

    <!-- rockpaperscissors -->
    <div class="rockpaperscissors">
        <h1>ROCK PAPER SCISSORS</h1>
    </div>
    <!-- end rockpaperscissors -->

    <!-- player 1 -->
    <div class="player1">
        <h1>PLAYER 1</h1>
    </div>
    <!-- end player 1 -->
    <!-- Option1 -->
        <div class="option" onclick="pickOption('👊')">
            <img class="batu1" src="/images/batu.png">
        </div>
        <div class="option" onclick="pickOption('🖐')">
            <img class="kertas1" src="/images/kertas 1.png">
        </div>
        <div class="option" onclick="pickOption('✌️')">
            <img class="gunting1" src="/images/gunting.png">
        </div>  
    <!-- end option1 -->

    <!-- banner -->
    <div class="banner">
        <h1 id="status"></h1>
        <h1 id="result"></h1>
    </div>
    <!-- VS -->
    <div class="vs">
        <h1>VS</h1>
    </div>
    <!-- end VS -->
    <!-- refresh -->
    <div class="refresh1" onclick="pickrefresh1()"></div>
        <img class="refresh1" src="/images/refresh.png">
    <!-- end refresh -->


    <!-- COM -->
    <div class="COM">
        <h1>COM</h1>
    </div>
    <!-- end COM -->

    <!-- option 2 -->
        <div class="option" onclick="pickOption('👊')">
            <img class="batu2" src="/images/batu.png">
        </div>
        <div class="option" onclick="pickOption('🖐')">
            <img class="kertas2" src="/images/kertas 1.png">
        </div>
        <div class="option" onclick="pickOption('✌️')">
            <img class="gunting2" src="/images/gunting.png">
        </div>
    <!-- end option2 -->
    
   <script>
        class Start{
            constructor(){
                this.playerName = "PLAYER 1"
                this.botName = "COM"
                this.playerOption;
                this.botOption;
                this.winner = ""
            }

            get getPlayerOption() {
                return this.playerOption
            }

            set setPlayerOption(option) {
                this.playerOption = option;
            }

            get getBotOption() {
                return this.botOption;
            }

            set setBotOption(option) {
                this.botOption = option;
            }
            
            botBrain() {
                const option = ["👊", "🖐", "✌️"];
                const bot = option[Math.floor(Math.random() * option.length)];
                return bot;
            }

            winCalculation() {
                if(this.botOption == "🖐" && this.playerOption == "✌️") {
                    return this.winner = this.playerName
                } else if (this.botOption == "🖐" && this.playerOption == "👊") {
                    return this.winner = this.botName;
                } else if (this.botOption == "✌️" && this.playerOption == "🖐") {
                    return this.winner = this.botName;
                } else if (this.botOption == "✌️" && this.playerOption == "👊") {
                    return this.winner = this.playerName;
                } else if (this.botOption == "👊" && this.playerOption == "🖐") {
                    return this.winner = this.playerName;
                } else if (this.botOption == "👊" && this.playerOption == "✌️") {
                    return this.winner = this.botName;
                } else {
                    return this.winner = "DRAW"
                }
            }

            matchResult(){
                if(this.winner != "DRAW"){
                    return `${this.winner} WIN`;
                }else {
                    return `${this.winner} NO WINNER`;
                }
            }

        }

        function pickOption(params) {
            const start = new Start();
            start.setPlayerOption = params;
            start.setBotOption = start.botBrain();
            start.winCalculation();

            const status = document.getElementById("status");
            const result = document.getElementById("result");

            status.textContent = ". . ."
            result.textContent = "WINNER IS . . ."

            setTimeout(() => {
                status.textContent = `${start.getPlayerOption} VS ${start.getBotOption}`
                result.textContent = start.matchResult();
            }, 2000);
            

        }

    </script>

</body>
</html>
