<h1>Login</h1>
<form action="/login" method="post">
    <br>
    <input type="text" name="name" id="name">
    <br>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>